# Usage: direnv allow

# IDENTIFIER: このプロジェクトの識別子
# S3バケット名などの重複を避けるため、企業名など識別子として用いる文字列を指定する
export IDENTIFIER=nirneege

# PROJECT_NAME: プロジェクト名
# プロジェクト名を指定する
export PROJECT_NAME=terraform-sample-project

# ENVIRONMENT: 環境名
# 環境名を指定する
export ENVIRONMENT=development

# AWS_PROFILE: AWSのプロファイル名
# ./aws/credentials に記載されているプロファイル名を指定する
# 複数のAWSアカウントを使い分けている場合は、この環境変数で利用するプロファイルを指定する
export AWS_PROFILE=default

# AWS_ACCOUNT_ID: AWSのアカウントID
# AWSのアカウントIDを指定する
export AWS_ACCOUNT_ID=

# AWS_IAM_USER: AWSのIAMユーザー名
# AWSのIAMユーザー名を指定する
export AWS_IAM_USER=terraform

# AWS_REGION: AWSのリージョン
# AWSのリージョンを指定する
export AWS_REGION=ap-northeast-1

# TFSTATE_BUCKET: Terraformのステートファイルを保存するS3バケット名
# Terraformのステートファイルを保存するS3バケット名を指定する
export TFSTATE_BUCKET=$PROJECT_NAME-tfstate-bucket-$AWS_REGION-$IDENTIFIER

# Terraform が自動読み込みする環境変数
# https://www.terraform.io/docs/commands/environment-variables.html
export TF_VAR_projectName=$PROJECT_NAME
export TF_VAR_environment=$ENVIRONMENT
export TF_VAR_awsProfile=$AWS_PROFILE
export TF_VAR_AWS_IAM_USER=$AWS_IAM_USER
export TF_VAR_awsRegion=$AWS_REGION
export TF_VAR_tfstateBucket=$TFSTATE_BUCKET

# Terraform CLI のオプションとして自動的に読み込まれる環境変数

# init コマンドで自動的にバックエンドを初期化するためのオプション
export TF_CLI_ARGS_init=""
# S3 Bucket 名を指定
export TF_CLI_ARGS_init="$TF_CLI_ARGS_init -backend-config=bucket=$TFSTATE_BUCKET"
# S3 Bucket のリージョンを指定
export TF_CLI_ARGS_init="$TF_CLI_ARGS_init -backend-config=region=$AWS_REGION"
# バックエンドのキー(保存先のパス)を指定
export TF_CLI_ARGS_init="$TF_CLI_ARGS_init -backend-config=key=$PROJECT_NAME/$ENVIRONMENT/terraform.tfstate"
# 利用するAWSプロファイルを指定
export TF_CLI_ARGS_init="$TF_CLI_ARGS_init -backend-config=profile=$AWS_PROFILE"
