# tf ファイルで定義した変数に対して、値を設定する
# awsProfile は、~/.aws/credentials に定義したプロファイル名を指定する
# awsProfile が空の場合、デフォルトのプロファイルが使用される
# 例えば ~/.aws/credentials に以下のように定義されている場合、
# awsProfile には、"nirneege-terraform" を指定する
# [nirneege-terraform]
# aws_access_key_id = AKIAJ...
# aws_secret_access_key = 1ZJ0...

# .envrc でTF_VAR_ で始まる環境変数を設定しているものは、tfvarsでの設定は不要
# 共通化できないもの、および上書きしたいものは、ここで設定する

# projectName =　
# environment = 
# awsProfile  = 
